@model PeteFest.Web.Models.Festival.ProgrammeModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="scrollimation fade-up d1">
        <h1 class="big-text text-center">@Model.ProgrammeHeaderText</h1>
        <br/>
        <div class="col-lg-12">
            <p class="lead">@Model.ProgrammeParagraphText</p>
        </div>
    </div>
</section>
