@model PeteFest.Web.Models.AboutModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bg-color2">
    <div class="row">
        <div class="col-sm-5 scrollimation fade-right d1 add-padding-top">
            <img class="img-responsive polaroid" src="@Model.PictureUrl" alt=""/>
        </div>
        <div class="col-sm-5 scrollimation fade-left d3">
            <h2 class="big-text">@Model.HeaderText</h2>
            <p class="lead">@Model.Paragraph1Text</p>
            <br/>
            <p class="lead">@Model.Paragraph2Text</p>
        </div>
    </div>
</section>