@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>Drag & Drop Photos</h2>
    <div id="dropZone" class="add-padding">Drop your files here</div>
    <br>

</div>
<div>
    Uploaded Files:
    <ul id="uploadResult"></ul>
</div>
